body {
    background: linear-gradient(to right, rgba(13,222,194,1) 0%, rgba(54,166,217,1) 100%);
    /*background-color: #FFFBF5;*/
    margin-left: 60px;
    margin-right: 60px;
    font-family: sans-serif;
}

#div1 {
    width: 100%;
    display: inline-block;
}

#div-new {
    display: inline-block;
    vertical-align: top
}

.newForm {
    font-size: 12px;
    font-weight: bold;
    color: grey;
    background-color: lightgrey;
    padding: 10px;
    display: none;
    width: 200px;
    height: 200px;
    margin-right: 35px;
    margin-bottom: 35px;
}

.board {
    width: 200px;
    height: 200px;
    background-color: grey;
    color: white;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 35px;
    margin-bottom: 35px;
    overflow: hidden;
}

.headtitle {
    display: inline;
}

span {
    display: inline-block;
}

.boardtitle {
    padding: 5px;
    font-family: Helvetica;
    font-weight:100;
    word-wrap: break-word;
    max-width: 200px;
    max-height: 65px;
    overflow: hidden;
}

.board_p {
    padding: 10px;
    word-wrap: break-word;
    max-width: 200px;
    max-height: 105px;
    overflow: hidden;
}

#footer {
    font-size: 8px;
    text-align: center;
}

.verticalline {
    bottom: 0px;
    top: 0px;
    background: white;
    height: 300px;
    border-left: 1px black solid;
    right: 250px;
    position: absolute;
}

#addbutton {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: orange;
    border-radius: 5px;
    margin-right: 35px;
    margin-bottom: 35px;
}

#add {
    color: white
    width: 60px;
    height: 60px;
    padding: 5px;
    text-align: center;
}

#submitbutton {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #01DEFF;
    border-radius: 2px;
}

#newtitle {
    
}

.navbar {
    color: white;
    font-size: 18px;
    width: auto;
    border-bottom: 1px solid white;
    z-index: 0;
}

#centerpara {
    word-wrap: normal;
}

.navbartext {
    text-align: center;
    font-size: 10px;
    margin-top: 12px;
}

.footer {
    text-align: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
