<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <title>ProMan Manager</title>
    <script src="/static/js/home.js"></script>
    <!-- <script src="/static/js/home_jquery.js"></script> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body onload = "display_boards()">
    <div class="headtitle">
        <h1>ProMan</h1>
    </div>
        <div id="div1">

        <!-- <div class="board">
            <h2>Board Title</h2>
            <p>Description of the borard</p>
        </div> -->

        </div>

        <div id="div-new">
            <button type="button"><img id="add" src="/static/img/add.png"></button>
            Title: <p><input type="text" name="title" id="title" maxlength="10" required></p>
            Description: <p><textarea name="descrip" id="text" required></textarea></p>
            <button type="button" onclick="new_board()"></button>
        </div>

    <div class="newForm"></div>
    <!---<p id="footer">&copy; Mystwood Publishers Limited</p>-->
</body>

</html>
