<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <title>ProMan Manager</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/home_jquery.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body onload = "display_boards()">
    <div class="headtitle">
        <navbar>
            <div class="navbar">
                <h1>ProMan</h1>
                <p id="ptext">Mumblecore stumptown retro man bun man braid, banh mi locavore synth scenester. Pork</p>
            </div>
        </navbar>
    </div>
        <div id="div1">
            <div id="div-new">
                <button type="button" id="addbutton"><img id="add" src="/static/img/add.png"></button>
                <div class="newForm">
                    <!-- <div id="newtitle">New Board</div> -->
                    Title: <p><input type="text" name="title" id="title"></p>
                    Description: <p><textarea name="descrip" id="text"></textarea></p>
                    <button id="submitbutton" type="button" onclick="new_board()">SAVE</button>
                </div>
            </div>

        <!-- <div class="board">
            <h2>Board Title</h2>
            <p>Description of the borard</p>
        </div> -->

        </div>



        <div class="footer navbar-fixed-bottom">
            <p class= "navbartext">© 2016 | Empty and the All rights reserved</p>
        </div>
</body>

</html>
