<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <title>ProMan Manager</title>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/home_jquery.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
    <div class="headtitle">
        <h1>ProMan</h1>
    <div>
    <div class="board">
        <h1>Board Title</h1>
        <p>Description of the borard</p>
    </div>
    <!---<p id="footer">&copy; Mystwood Publishers Limited</p>-->
</body>

</html>
